TZ=Asia/Kolkata
DB_HOST=localhost
PGUSER=medc
POSTGRES_USER=medc
POSTGRES_PASSWORD=medc-2026
POSTGRES_DB=medc
PGPORT=5432
FRONTEND_URL=http://localhost:3000
VITE_FRONTEND_URL=http://localhost:3000
FRONTEND_PORT=3000
JWT_SECRET=secret
SEAWEEDFS_MASTER=http://seaweedfs-master:9333
SEAWEEDFS_MASTER_PORT=9333
SEAWEEDFS_VOLUME_PORT=8080
EMAIL_USER=
EMAIL_PASS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/oauth/google/callback
OAUTH_STATE_TTL_SECONDS=300
TOTP_TOKEN_1=
TOTP_TOKEN_2=
TOTP_TOKEN_3=
DB_ACCESS_ALLOWED_EMAILS=
DB_ACCESS_SESSION_TTL_SECONDS=60
DB_ACCESS_MAX_DURATION_MINUTES=15
DB_ACCESS_MAX_FAILED_ATTEMPTS=5
DB_ACCESS_FAILED_ATTEMPT_WINDOW_MINUTES=10
DB_ACCESS_PGWEB_CONTAINER_NAME=medical-center-pgweb
DB_ACCESS_PGWEB_INTERNAL_PORT=8090
DB_ACCESS_PGWEB_INTERNAL_URL=http://pgweb:8090
