@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss" source("../");
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9842 0.0034 247.8575);
  --foreground: oklch(0.1748 0.0713 266.7409);
  --card: oklch(0.9936 0.0017 247.8387);
  --card-foreground: oklch(0.1540 0.0946 264.1728);
  --popover: oklch(0.9936 0.0017 247.8387);
  --popover-foreground: oklch(0.1540 0.0946 264.1728);
  --primary: oklch(0.6850 0.1690 237.3230);
  --primary-foreground: oklch(0.9840 0.0030 247.8580);
  --secondary: oklch(0.3790 0.1460 265.5220);
  --secondary-foreground: oklch(0.9840 0.0030 247.8580);
  --muted: oklch(0.9288 0.0126 255.5078);
  --muted-foreground: oklch(0.5228 0.0709 272.9615);
  --accent: oklch(0.9523 0.0154 269.9827);
  --accent-foreground: oklch(0.1822 0.0671 273.8235);
  --destructive: oklch(0.6907 0.2022 35.9452);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9195 0.0211 271.1836);
  --input: oklch(0.9195 0.0211 271.1836);
  --ring: oklch(0.6850 0.1690 237.3230);
  --chart-1: oklch(0.7493 0.1353 180.6750);
  --chart-2: oklch(0.5414 0.2536 267.4226);
  --chart-3: oklch(0.6370 0.2370 25.3310);
  --chart-4: oklch(0.7144 0.1476 74.7283);
  --chart-5: oklch(0.5840 0.2385 285.2112);
  --sidebar: oklch(0.9817 0.0057 264.5327);
  --sidebar-foreground: oklch(0.3433 0.0680 271.2902);
  --sidebar-primary: oklch(0.4759 0.2969 265.2798);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9195 0.0211 271.1836);
  --sidebar-accent-foreground: oklch(0.1822 0.0671 273.8235);
  --sidebar-border: oklch(0.9195 0.0211 271.1836);
  --sidebar-ring: oklch(0.4759 0.2969 265.2798);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: monospace;
  --radius: 0.55rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.06;
  --shadow-color: #000000;
  --shadow-2xs: 0px 0px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 0px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 0px 4px 0px hsl(0 0% 0% / 0.06), 0px 1px 2px -1px hsl(0 0% 0% / 0.06);
  --shadow: 0px 0px 4px 0px hsl(0 0% 0% / 0.06), 0px 1px 2px -1px hsl(0 0% 0% / 0.06);
  --shadow-md: 0px 0px 4px 0px hsl(0 0% 0% / 0.06), 0px 2px 4px -1px hsl(0 0% 0% / 0.06);
  --shadow-lg: 0px 0px 4px 0px hsl(0 0% 0% / 0.06), 0px 4px 6px -1px hsl(0 0% 0% / 0.06);
  --shadow-xl: 0px 0px 4px 0px hsl(0 0% 0% / 0.06), 0px 8px 10px -1px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 0px 0px 4px 0px hsl(0 0% 0% / 0.15);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1540 0.0946 264.1728);
  --foreground: oklch(0.9817 0.0057 264.5327);
  --card: oklch(0.1695 0.0678 272.5231);
  --card-foreground: oklch(0.9817 0.0057 264.5327);
  --popover: oklch(0.1540 0.0946 264.1728);
  --popover-foreground: oklch(0.9817 0.0057 264.5327);
  --primary: oklch(0.5414 0.2536 267.4226);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7493 0.1353 180.6750);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.2530 0.0646 272.2677);
  --muted-foreground: oklch(0.6827 0.0602 273.7734);
  --accent: oklch(0.2530 0.0646 272.2677);
  --accent-foreground: oklch(0.9817 0.0057 264.5327);
  --destructive: oklch(0.4417 0.1483 34.8318);
  --destructive-foreground: oklch(0.9817 0.0057 264.5327);
  --border: oklch(0.2530 0.0646 272.2677);
  --input: oklch(0.2530 0.0646 272.2677);
  --ring: oklch(0.5414 0.2536 267.4226);
  --chart-1: oklch(0.8635 0.1571 177.9479);
  --chart-2: oklch(0.6386 0.1928 268.2952);
  --chart-3: oklch(0.7166 0.1888 3.9296);
  --chart-4: oklch(0.9396 0.1947 105.1700);
  --chart-5: oklch(0.6591 0.1903 285.7566);
  --sidebar: oklch(0.1695 0.0678 272.5231);
  --sidebar-foreground: oklch(0.6827 0.0602 273.7734);
  --sidebar-primary: oklch(0.5414 0.2536 267.4226);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2530 0.0646 272.2677);
  --sidebar-accent-foreground: oklch(0.9817 0.0057 264.5327);
  --sidebar-border: oklch(0.2530 0.0646 272.2677);
  --sidebar-ring: oklch(0.5414 0.2536 267.4226);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: monospace;
  --radius: 0.55rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.06;
  --shadow-color: #000000;
  --shadow-2xs: 0px 0px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 0px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 0px 4px 0px hsl(0 0% 0% / 0.06), 0px 1px 2px -1px hsl(0 0% 0% / 0.06);
  --shadow: 0px 0px 4px 0px hsl(0 0% 0% / 0.06), 0px 1px 2px -1px hsl(0 0% 0% / 0.06);
  --shadow-md: 0px 0px 4px 0px hsl(0 0% 0% / 0.06), 0px 2px 4px -1px hsl(0 0% 0% / 0.06);
  --shadow-lg: 0px 0px 4px 0px hsl(0 0% 0% / 0.06), 0px 4px 6px -1px hsl(0 0% 0% / 0.06);
  --shadow-xl: 0px 0px 4px 0px hsl(0 0% 0% / 0.06), 0px 8px 10px -1px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 0px 0px 4px 0px hsl(0 0% 0% / 0.15);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@theme {
  --color-bits-red: var(--color-red-500);
  --color-bits-red-foreground: var(--color-red-50);
  --color-bits-yellow: var(--color-yellow-600);
  --color-bits-yellow-foreground: var(--color-yellow-50);
  --color-bits-blue: var(--color-blue-900);
  --color-bits-blue-foreground: var(--color-blue-50);
  --color-bits-green: var(--color-emerald-600);
  --color-bits-green-foreground: var(--color-emerald-50);
  --color-bits-light-blue: var(--color-sky-500);
  --color-bits-light-blue-foreground: var(--color-sky-50);

  --spacing-after-topbar: calc(100dvh - 4.5rem);

  --ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  /* body {
    @apply bg-background text-foreground;
  } */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
