name: CI

on:
  pull_request:
    branches: [main]

jobs:
  lint-and-compile:
    name: Lint and Run Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.0

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run linting check
        run: bun run lint

      - name: Build project
        run: bun run build
